<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="SCARA_4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.8852E-17 -0.23073 1.5495E-17"
        rpy="0 0 0" />
      <mass
        value="22.615" />
      <inertia
        ixx="0.87369"
        ixy="-1.8423E-16"
        ixz="-3.1903E-18"
        iyy="0.38057"
        iyz="2.3876E-17"
        izz="0.87369" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.21762 -1.258E-06 0.11077"
        rpy="0 0 0" />
      <mass
        value="15.849" />
      <inertia
        ixx="0.17256"
        ixy="6.0369E-06"
        ixz="-0.03006"
        iyy="0.93235"
        iyz="-1.0863E-06"
        izz="0.9668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 -0.5 0"
      rpy="1.5708 -0.49864 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.30845 -2.4361E-06 0.089551"
        rpy="0 0 0" />
      <mass
        value="9.7111" />
      <inertia
        ixx="0.041789"
        ixy="1.3001E-06"
        ixz="-0.038416"
        iyy="0.55234"
        iyz="-1.1193E-06"
        izz="0.55988" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.6 0 0.15"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.002073 2.2917E-05 0.30161"
        rpy="0 0 0" />
      <mass
        value="1.1625" />
      <inertia
        ixx="0.044926"
        ixy="6.4058E-08"
        ixz="4.0179E-06"
        iyy="0.044857"
        iyz="-7.6103E-06"
        izz="0.00062347" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="prismatic">
    <origin
      xyz="0.6 0 0.03"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="8.1041E-06 -1.5568E-05 -0.023589"
        rpy="0 0 0" />
      <mass
        value="0.26462" />
      <inertia
        ixx="0.00016691"
        ixy="-4.7588E-08"
        ixz="-5.757E-08"
        iyy="0.00016698"
        iyz="1.1059E-07"
        izz="0.00020916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 -0.05"
      rpy="3.1416 0 -3.0582" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tool">
    <inertial>
      <origin
        xyz="1.6299E-06 -3.1309E-06 0.040258"
        rpy="0 0 0" />
      <mass
        value="0.20026" />
      <inertia
        ixx="0.0005259"
        ixy="-7.2388E-09"
        ixz="1.101E-08"
        iyy="0.00052591"
        iyz="-2.115E-08"
        izz="0.00010377" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/tool.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SCARA_4/meshes/tool.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_tcp"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="tool" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>